/* SETUP */

// Set font to Fira Sans
@import url("https://code.cdn.mozilla.net/fonts/fira.css");

// Initialize Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

/* UTIL */
.columns {
	@apply flex flex-col gap-8 md:flex-row md:justify-evenly;
}

.columns > * {
	@apply md:h-fit md:w-full;
}

/* MAIN CONTENT */

* {
	@apply scroll-smooth duration-100;
}

// Styles within are applied to everything but the navbar
main,
footer {
	font-size: 16px;

	*:target {
		@apply bg-rose-900;
	}

	// Tables
	table {
		@apply w-full bg-black/25;
	}

	thead {
		@apply bg-secondary;
	}

	th,
	td {
		@apply border border-slate-500 p-2;
	}

	// All lists
	ul,
	ol {
		@apply ml-5;
	}

	// Unordered lists
	ul {
		@apply list-disc;
	}

	// Ordered lists
	ol {
		@apply list-decimal;
	}

	// List items
	li {
		@apply w-fit;
	}

	img {
		@apply w-auto object-contain;
	}

	// Inline code
	code {
		@apply bg-[#0d1117];
	}

	// Code blocks
	.astro-code {
		@apply p-2;
	}

	// Quotes
	blockquote {
		@apply border-l-8 border-rose-900 bg-black/25 pl-2 text-lg;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-medium;
		margin-block: 0.67em;
	}

	h1 {
		@apply text-4xl;
	}

	h2 {
		@apply text-3xl;
	}

	h3 {
		@apply text-2xl;
	}

	h4 {
		@apply text-xl;
	}

	h5 {
		@apply text-lg;
	}

	.title {
		@apply text-5xl font-normal;
	}

	a {
		@apply text-blue-400 hover:text-blue-200;
	}
}

main {
	* {
		@apply rounded;
	}

	/* REAPPLY SOME BROWSER DEFAULT STYLES */
	// Tailwind removes most of the browser's default CSS
	p,
	dl,
	multicol {
		margin-block: 1em;
	}
}

.iframe-wrapper {
	@apply relative z-0 h-0 pb-[56.25%];
}

.iframe-wrapper iframe {
	@apply absolute top-0 left-0 h-full w-full;
}

// Make horizontal rules always full width
hr {
	@apply w-full;
}
