/* SETUP */

// Set font to Fira Sans
@import url("https://code.cdn.mozilla.net/fonts/fira.css");

// Initialize Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

/* MAIN CONTENT */

// Styles within are applied to everything but the navbar
.content,
footer {
	font-size: 18px;

	// Items become highlighted when they are targeted (for example, when a link in the table of contents is clicked)
	:target {
		@apply bg-rose-900;
	}

	// All lists
	ul,
	ol {
		@apply ml-5;
	}

	// Unordered lists
	ul {
		@apply list-disc;
	}

	// Ordered lists
	ol {
		@apply list-decimal;
	}

	img {
		@apply w-auto max-h-20 m-2.5;
	}

	// Inline code
	code {
		@apply bg-[#0d1117];
	}

	// Code blocks
	.astro-code {
		@apply p-2;
	}

	// Quotes
	blockquote {
		@apply pl-2 bg-black/25 border-l-8 border-rose-900 text-lg;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply px-1 font-medium;
		margin-block: 0.67em;
	}

	h1 {
		@apply text-4xl;
	}

	h2 {
		@apply text-3xl;
	}

	h3 {
		@apply text-2xl;
	}

	h4 {
		@apply text-xl;
	}

	h5 {
		@apply text-lg;
	}

	.title {
		@apply font-normal text-5xl;
	}

	a {
		@apply text-blue-400 hover:text-blue-200 visited:text-purple-400 visited:hover:text-purple-200;
	}
}

.content {
	* {
		@apply rounded;
	}

	/* REAPPLY SOME BROWSER DEFAULT STYLES */
	// Tailwind removes most of the browser's CSS, and this is mostly useful, but some styles need to be reapplied
	p,
	dl,
	multicol {
		margin-block-start: 1em;
		margin-block-end: 1em;
	}
}

iframe {
	@apply w-full h-[75vh];
}

// Make horizontal rules always full width
hr {
	@apply w-full;
}

/* NAVBAR */

// Navbar toggle button toggles navbar on mobile. Toggle navbar button is really a checkbox in disguise
#navtoggle:checked + #navlinks {
	@apply block;
}

// Item in navbar
.navitem {
	@apply w-full md:w-max h-full hover:bg-black/25 p-1 px-2 flex items-center;
}

// Container that holds navbar dropdown and link
.nav-dropdown {
	@apply h-full;
}

// Navbar dropdown
.nav-dropdown-content {
	transition-duration: 0.25s;
	@apply md:absolute md:z-10 md:opacity-0 md:pointer-events-none md:translate-y-5 ml-2 md:ml-0 md:p-1 md:bg-secondary md:rounded-md md:border md:border-slate-500;
}

// Items in navbar dropdown take full width
.nav-dropdown-content .navitem {
	@apply md:w-full;
}

// Navbar dropdown appears when hovered over
.nav-dropdown:hover .nav-dropdown-content {
	@apply md:opacity-100 md:pointer-events-auto md:translate-y-0;
}

/* SIDEBAR */

.sidebar {
	@apply md:w-1/6 h-min ml-5 md:ml-10 mr-5 mt-10 top-4 overflow-scroll md:sticky bg-secondary rounded border border-slate-500 flex flex-col text-lg;
	max-height: calc(100vh - 2rem);
}

.sidebar-item {
	@apply w-full h-max p-2 hover:bg-black/25 active:bg-black/25 rounded;
}

.sidebar-item-active {
	@apply bg-black/25;
}

/* FOOTER */

.footer-column {
	@apply flex flex-col items-center md:items-start;
}
