@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Fira Sans";
	font-size: 20px;
	text-align: justify;
	scroll-behavior: smooth;
}

html,
body {
	transition-duration: 1s;
}

iframe {
	@apply w-full h-screen;
}

.content,
footer {
	@apply pl-10 pr-10;

	* {
		margin-block: 0.67em;
	}

	h1 {
		@apply text-5xl;
	}

	h2 {
		@apply text-4xl;
	}

	h3 {
		@apply text-3xl;
	}

	h4 {
		@apply text-2xl;
	}

	h5 {
		@apply text-xl;
	}

	h6 {
		@apply text-lg;
	}

	a {
		@apply text-blue-400 hover:text-blue-200 visited:text-purple-400 visited:hover:text-purple-200;
	}
}

// Nav
.navlink {
	@apply w-max flex items-center h-full p-1 border-black hover:bg-black/25;
}

.nav-dropdown-content {
	transition-duration: 0.25s;
	@apply absolute z-10 opacity-0 pointer-events-none translate-y-5 p-1 bg-[#44091b] rounded-md border border-slate-500;
}

.nav-dropdown:hover .nav-dropdown-content {
	@apply opacity-100 pointer-events-auto translate-y-0;
}
