---
const announcements = await Astro.glob("../announcements/*");
---

<style is:global lang="scss">
	article {
		@apply border border-emerald-900 bg-black/25 p-4 text-start;

		iframe,
		img {
			@apply h-80 w-full;
		}
	}
</style>

<div class="columns">
	{
		announcements.map((page) => (
			<article>
				<h1>{page.title}</h1>
				<page.Content />
			</article>
		))
	}
</div>
