---
const announcements = await Astro.glob("../announcements/*");
---

<style lang="scss">
	article {
		:global(iframe),
		:global(img) {
			@apply h-80 w-full;
		}
	}
</style>

<div class="columns">
	{
		announcements.map((page) => (
			<article class="text-start border border-emerald-900 bg-black/25 p-4">
				<page.Content />
			</article>
		))
	}
</div>
