---
import YoutubeEmbed from "./YoutubeEmbed.astro";

export interface Props {
	img: string;
	video: string;
}
const { img, video } = Astro.props;
---

<div>
	<slot name="left" />
	<img class="w-96 bg-white" src={`/assets/competitions/${img}.avif`} />
</div>
<div>
	<YoutubeEmbed video={video} />
	<slot name="right" />
</div>
