---
export interface Props {
	img: string;
	video: string;
}
const { img, video } = Astro.props;
---

<style>
	img {
		@apply bg-white md:!w-96;
	}
</style>

<div class="columns">
	<div>
		<img src={`/assets/competitions/${img}.avif`} />
		<slot name="left" />
	</div>
	<div>
		<div class="iframe-wrapper">
			<iframe
				src={`https://www.youtube-nocookie.com/embed/${video}`}
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>
		<slot name="right" />
	</div>
</div>
