---
import YoutubeEmbed from "./YoutubeEmbed.astro";

export interface Props {
	img: string;
	video: string;
}
const { img, video } = Astro.props;
---

<style>
	img {
		@apply bg-white md:!w-96;
	}
</style>

<div class="columns">
	<div>
		<img src={`/assets/competitions/${img}.avif`} />
		<slot name="left" />
	</div>
	<div>
		<YoutubeEmbed video={video} />
		<slot name="right" />
	</div>
</div>
