<footer class="w-full mt-10 p-10 bg-black/25 flex-auto flex">
	<img class="max-w-1/4 h-auto" src="/assets/2412.png">
	<div class="ml-5 flex">
		<div>
		</div>

		<div>
		<a href="javascript:rgb()">RGB</a>
		</div>
	</div>
</footer>
