---
import Navdrop from "./NavDropdown.astro";
import Navitem from "./NavItem.astro";
---

<nav
	class="z-10 flex w-full flex-col px-2 text-lg lg:h-12 lg:flex-row lg:items-stretch"
>
	<div class="flex items-center">
		<a class="flex items-center p-1" href="/">
			<img src="/assets/robototes.avif" class="mr-1 h-8" />
			Robototes
		</a>

		<label for="navtoggle" class="ml-auto cursor-pointer p-1 lg:hidden">
			Toggle Navbar
		</label>
	</div>

	<input id="navtoggle" type="checkbox" class="peer hidden" />
	<div
		class="absolute left-0 top-12 w-full -translate-x-full flex-col items-baseline gap-4 overflow-y-hidden rounded-md bg-secondary/75 backdrop-blur-md peer-checked:translate-x-0 lg:static lg:left-auto lg:top-auto lg:ml-auto lg:flex lg:h-auto lg:w-auto lg:translate-x-[none] lg:flex-row lg:items-center lg:gap-0 lg:bg-inherit lg:backdrop-blur-[none]"
	>
		<Navdrop
			href="/about"
			pages={await Astro.glob("../pages/about/!(index.md)")}
		>
			About
		</Navdrop>
		<Navdrop
			href="/outreach"
			pages={await Astro.glob("../pages/outreach/!(index.md)")}
		>
			Outreach
		</Navdrop>
		<Navdrop
			link={false}
			pages={await Astro.glob("../pages/resources/!(index.md)")}
		>
			Resources
		</Navdrop>
		<Navitem href="/calendar">Calendar</Navitem>
		<Navitem href="/contact">Contact Us</Navitem>
		<Navdrop link={false} pages={await Astro.glob("../pages/meta/index.mdx")}>
			...
		</Navdrop>
	</div>
</nav>
