---
import NavLink from "./navlink.astro";
---

<nav class="flex w-full h-10 bg-black/25">
	<a class="flex items-center p-1" href="/">
		<img src="/assets/robototes.png" class="h-full mr-1">
		Robototes
	</a>
	<div class="flex items-center divide-x">
		<NavLink href="/">Home</NavLink>
		<NavLink href="/about">About</NavLink>
		<NavLink href="/outreach">Outreach</NavLink>
		<NavLink href="/resources">Resources</NavLink>
		<NavLink href="/calendar">Calendar</NavLink>
		<NavLink href="/contact">Contact Us</NavLink>
	</div>
</nav>