---
import Navdrop from "./NavDropdown.astro";
import Navitem from "./NavItem.astro";
---

<style is:global lang="scss">
	nav {
		@apply z-50 flex w-full flex-col bg-dark px-2 text-lg lg:h-12 lg:flex-row lg:items-stretch;
	}

	#navlinks {
		@apply hidden flex-col items-baseline overflow-y-hidden lg:ml-auto lg:flex lg:h-auto lg:flex-row lg:items-center;
	}

	// Navbar toggle button toggles navbar on mobile. Toggle navbar button is really a checkbox in disguise
	#navtoggle:checked + #navlinks {
		@apply flex;
	}
</style>

<nav>
	<div class="flex items-center">
		<a class="flex items-center p-1" href="/">
			<img src="/assets/robototes.avif" class="mr-1 h-8" />
			Robototes
		</a>

		<label for="navtoggle" class="ml-auto cursor-pointer p-1 lg:hidden">
			Toggle Navbar
		</label>
	</div>

	<input id="navtoggle" type="checkbox" class="hidden" />

	<div id="navlinks">
		<Navitem href="/">Home</Navitem>
		<Navdrop
			href="/about"
			pages={await Astro.glob("../pages/about/!(index.md)")}
			>About
		</Navdrop>
		<Navdrop
			href="/outreach"
			pages={await Astro.glob("../pages/outreach/!(index.md)")}
		>
			Outreach
		</Navdrop>
		<Navdrop
			link={false}
			pages={await Astro.glob("../pages/resources/!(index.md)")}
		>
			Resources
		</Navdrop>
		<Navitem href="/calendar">Calendar</Navitem>
		<Navitem href="/contact">Contact Us</Navitem>
		<Navdrop
			link={false}
			pages={await Astro.glob("../pages/meta/index.mdx")}
			right
		>
			...
		</Navdrop>
	</div>
</nav>
