---
import Navlink from "./navlink.astro";

const {href, title} = Astro.props;
---

<div class="nav-dropdown">
	<Navlink {href}>{title}</Navlink>

	<div class="nav-dropdown-content">
		<slot />
	</div>
</div>