---
import Navlink from "./navlink.astro";

const {href, pages, title} = Astro.props;
---

<div class="nav-dropdown">
	<Navlink {href}><slot /></Navlink>

	<div class="nav-dropdown-content">
		{pages.map(page => (
			<Navlink href={page.url}>{page.frontmatter.title}</Navlink>
		))}
	</div>
</div>
