---
import Navitem from "./NavItem.astro";

export interface Props {
	href?: URL | string;
	link?: boolean;
	pages: Record<string, any>[];
	right?: boolean;
}

const { href, link, pages, right } = Astro.props as Props;
---

<style>
	.navdrop {
		@apply h-full w-full lg:w-max;
	}

	.navdrop * {
		@apply lg:w-full;
	}

	.navdropinner {
		@apply ml-2 border-slate-500 lg:pointer-events-none lg:absolute lg:z-10 lg:ml-0 lg:-translate-y-5 lg:rounded-md lg:border lg:bg-secondary lg:p-1 lg:opacity-0;
	}

	.navdrop:hover .nav-drop-inner {
		@apply lg:pointer-events-auto lg:translate-y-0 lg:opacity-100;
	}
</style>

<div class="navdrop">
	<Navitem href={href} link={link}>
		<slot />
	</Navitem>

	<div class={`navdropinner${right ? " right-0" : ""}`}>
		{
			pages.map((page) => (
				<Navitem href={page.url}>{page.frontmatter.title}</Navitem>
			))
		}
	</div>
</div>
