---
import Navitem from "./NavItem.astro";

export interface Props {
	href?: URL | string;
	link?: boolean;
	pages: Record<string, any>[];
}

const { href, link } = Astro.props as Props;
const pages = Astro.props.pages.sort((a, b) =>
	a.frontmatter.title.localeCompare(b.frontmatter.title)
);

function isCurrent() {
	return Astro.url.pathname.startsWith(href);
}
---

<style is:global>
	.navdrop:last-child .navdropinner {
		@apply lg:right-0;
	}

	.navdrop:hover .navdropinner {
		@apply lg:pointer-events-auto lg:translate-y-0 lg:opacity-100;
	}
</style>

<div class="navdrop h-full w-full border-cyan-800 lg:w-max">
	<Navitem
		href={href}
		link={link}
		klass={isCurrent() ? "bg-rose-900/25" : undefined}
	>
		<slot />
	</Navitem>

	<div
		class="navdropinner ml-2 border-cyan-800 duration-100 lg:pointer-events-none lg:absolute lg:z-10 lg:float-left lg:ml-0 lg:-translate-y-5 lg:rounded-md lg:border lg:bg-secondary lg:p-1 lg:opacity-0 [&_*]:w-full"
	>
		{
			pages.map((page) => (
				<Navitem href={page.url}>{page.frontmatter.title}</Navitem>
			))
		}
	</div>
</div>
