---
import Navitem from "./navitem.astro";

const {href, link, pages, right} = Astro.props;
---

<div class="nav-dropdown">
	<Navitem {href} {link}><slot /></Navitem>

	<div class={"nav-dropdown-content" + (right ? " right-0" : "")}>
		{pages.map(page => (
			<Navitem href={page.url}>{page.frontmatter.title}</Navitem>
		))}
	</div>
</div>
