---
export interface Props {
	href?: URL | string;
	link?: boolean;
}

const { href, link = true } = Astro.props as Props;
const common = "h-full hover:bg-black/25 p-1 px-2 flex items-center";
---

{
	link ? (
		<a class={`w-full lg:w-max ${common}`} {href}>
			<slot />
		</a>
	) : (
		<p class={common}>
			<slot />
		</p>
	)
}
