---
export interface Props {
	href?: URL | string;
	link?: boolean;
}

const { href, link = true } = Astro.props as Props;
---

<style>
	a {
		@apply w-full lg:w-max;
	}

	a,
	p {
		@apply flex h-full items-center rounded p-1 px-2 hover:bg-rose-900/25;
	}
</style>

<div class="h-full w-full border-cyan-800 lg:w-auto">
	{
		link ? (
			<a href={href}>
				<slot />
			</a>
		) : (
			<p>
				<slot />
			</p>
		)
	}
</div>
