---
export interface Props {
	href?: URL | string;
	link?: boolean;
}

const { href, link = true } = Astro.props as Props;
---

{
	link ? (
		<a class="navlink" {href}>
			<slot />
		</a>
	) : (
		<p class="navlink">
			<slot />
		</p>
	)
}
