---
const {href} = Astro.props;
const active = href == Astro.canonicalURL.pathname;
---

<div class={"w-max flex items-center h-full p-1 border-black " + (active ? "bg-black/25" : "hover:bg-black/25")}>
	<a {href}><slot /></a>
</div>