---
import type { MarkdownHeading } from "astro";

export interface Props {
	headings: MarkdownHeading[];
	pages: Record<string, any>[];
}
const { pages, headings } = Astro.props;
---

<div
	class="top-4 ml-5 mr-5 mt-10 flex h-min max-h-[calc(100vh-2rem)] flex-col overflow-scroll rounded border border-slate-500 bg-secondary text-lg lg:sticky lg:ml-10 lg:w-1/6"
>
	<p class="px-2 pt-2 text-sm">Pages</p>
	<hr />
	{
		pages.map((page) => (
			<a
				class={`h-max w-full p-2 hover:bg-black/25 active:bg-black/25 rounded${
					page.url == Astro.url.pathname ? " bg-black/25" : ""
				}`}
				href={page.url}
			>
				{page.frontmatter.title}
			</a>
		))
	}

	{
		headings.length > 0 && (
			<>
				<p class="px-2 pt-2 text-sm">Contents</p>
				<hr />
			</>
		)
	}
	{
		headings.map((heading) => (
			<a
				class={`h-max w-full p-2 hover:bg-black/25 rounded${
					heading.depth > 1
						? heading.depth > 2
							? heading.depth > 3
								? " text-xs"
								: " text-sm"
							: " text-base"
						: ""
				}`}
				href={`#${heading.slug}`}
			>
				{heading.text}
			</a>
		))
	}
</div>
