---
import type { MarkdownHeading } from "astro";

export interface Props {
	headings: MarkdownHeading[];
	pages: Record<string, any>[];
}
const { pages, headings } = Astro.props;

function isCurrent(url: string) {
	return url == Astro.url.pathname || url + "/" == Astro.url.pathname;
}
---

<style>
	div {
		@apply ml-5 mr-5 mt-5 flex h-min flex-col gap-1 overflow-scroll rounded border border-emerald-900 bg-secondary p-1 md:sticky md:top-5 md:ml-10 md:max-h-[calc(100vh-2rem)] md:w-1/6;
	}

	p {
		@apply px-2 pt-2 text-sm;
	}

	a {
		@apply h-max w-full rounded p-2 hover:bg-rose-900/25;
	}
</style>

<div>
	<p>Pages</p>
	<hr />
	{
		pages.map((page) => (
			<a
				class={`${isCurrent(page.url) ? " bg-rose-900/25" : ""}`}
				href={page.url}
			>
				{page.frontmatter.title}
			</a>
		))
	}

	{
		headings.length > 0 && (
			<>
				<p>Contents</p>
				<hr />
			</>
		)
	}
	{
		headings.map((heading) => (
			<a
				class={`${
					heading.depth > 1
						? heading.depth > 2
							? heading.depth > 3
								? " text-xs"
								: " text-sm"
							: " text-base"
						: ""
				}`}
				href={`#${heading.slug}`}
			>
				{heading.text}
			</a>
		))
	}
</div>
