<div
	class="bg-white p-4 grid gap-8 grid-cols-2 lg:grid-cols-8 grid-flow-row-dense"
>
	<img class="col-span-2" src="/assets/sponsors/analog_devices.png" />
	<img class="col-span-2" src="/assets/sponsors/bellevue_schools_foundation.jpg"
	/>
	<img src="/assets/sponsors/colburn_law.jpg" />
	<img class="col-span-2" src="/assets/sponsors/first_tech.jpg" />
	<img src="/assets/sponsors/home_depot.jpg" />
	<img class="col-span-2" src="/assets/sponsors/intellectual_ventures.png" />
	<img class="col-span-2" src="/assets/sponsors/kaliber_global.jpg" />
	<img src="/assets/sponsors/kpff.png" />
	<img src="/assets/sponsors/mandrio.jpg" />
	<img class="col-span-2" src="/assets/sponsors/microsoft.jpg" />
	<img src="/assets/sponsors/p&p.jpg" />
	<img class="col-span-2" src="/assets/sponsors/plugable.jpg" />
	<img class="col-span-2" src="/assets/sponsors/public_instruction.png" />
	<img class="col-span-2" src="/assets/sponsors/t_mobile.png" />
</div>
