<style>
	img {
		@apply max-h-[10vh] !w-auto;
	}
</style>

<div class="flex flex-wrap justify-evenly gap-8 bg-white p-4">
	<a href="https://bellevueschoolsfoundation.org" target="_blank">
		<img src="/assets/sponsors/bellevue_schools_foundation.avif" />
	</a>
	<a href="https://www.k12.wa.us" target="_blank">
		<img src="/assets/sponsors/public_instruction.avif" />
	</a>
	<a href="https://microsoft.com" target="_blank">
		<img src="/assets/sponsors/microsoft.avif" />
	</a>
	<a href="https://electroimpact.com" target="_blank">
		<img src="/assets/sponsors/electroimpact.avif" />
	</a>
	<a href="https://speea.org" target="_blank">
		<img src="/assets/sponsors/speea.avif" />
	</a>
	<a href="https://intellectualventures.com" target="_blank">
		<img src="/assets/sponsors/intellectual_ventures.avif" />
	</a>
</div>
