<div
	class="bg-white p-4 grid gap-8 grid-cols-2 lg:grid-cols-8 grid-flow-row-dense"
>
	<img class="col-span-2" src="/assets/sponsors/analog_devices.avif" />
	<img
		class="col-span-2"
		src="/assets/sponsors/bellevue_schools_foundation.avif"
	/>
	<img src="/assets/sponsors/colburn_law.avif" />
	<img class="col-span-2" src="/assets/sponsors/first_tech.avif" />
	<img src="/assets/sponsors/home_depot.avif" />
	<img class="col-span-2" src="/assets/sponsors/intellectual_ventures.avif" />
	<img class="col-span-2" src="/assets/sponsors/kaliber_global.avif" />
	<img src="/assets/sponsors/kpff.avif" />
	<img src="/assets/sponsors/mandrio.avif" />
	<img class="col-span-2" src="/assets/sponsors/microsoft.avif" />
	<img src="/assets/sponsors/p&p.avif" />
	<img class="col-span-2" src="/assets/sponsors/plugable.avif" />
	<img class="col-span-2" src="/assets/sponsors/public_instruction.avif" />
	<img class="col-span-2" src="/assets/sponsors/t_mobile.avif" />
</div>
