---
export interface Props {
	all?: boolean;
	active?: boolean;
}
const props = Astro.props;
const all = props.all;
const active = all || props.active;
---

<style>
	img {
		@apply max-h-[10vh] !w-auto;
	}
</style>

<div class="flex flex-wrap justify-evenly gap-8 bg-white p-4">
	{all && <img src="/assets/sponsors/analog_devices.avif" />}
	{active && <img src="/assets/sponsors/bellevue_schools_foundation.avif" />}
	{active && <img src="/assets/sponsors/colburn_law.avif" />}
	{all && <img src="/assets/sponsors/first_tech.avif" />}
	{all && <img src="/assets/sponsors/home_depot.avif" />}
	{active && <img src="/assets/sponsors/intellectual_ventures.avif" />}
	{all && <img src="/assets/sponsors/kaliber_global.avif" />}
	{all && <img src="/assets/sponsors/kpff.avif" />}
	{active && <img src="/assets/sponsors/mandrio.avif" />}
	{active && <img src="/assets/sponsors/microsoft.avif" />}
	{active && <img src="/assets/sponsors/p&p.avif" />}
	{all && <img src="/assets/sponsors/plugable.avif" />}
	{active && <img src="/assets/sponsors/public_instruction.avif" />}
	{active && <img src="/assets/sponsors/t_mobile.avif" />}
</div>
