<div class="flex flex-wrap justify-evenly bg-black/25">
	<img src="/assets/sponsors/analog_devices.png" />
	<img src="/assets/sponsors/bellevue_schools_foundation.jpg" />
	<img src="/assets/sponsors/colburn_law.jpg" />
	<img src="/assets/sponsors/first_tech.jpg" />
	<img src="/assets/sponsors/home_depot.jpg" />
	<img src="/assets/sponsors/intellectual_ventures.png" />
	<img src="/assets/sponsors/kaliber_global.jpg" />
	<img src="/assets/sponsors/kpff.png" />
	<img src="/assets/sponsors/mandrio.jpg" />
	<img src="/assets/sponsors/microsoft.jpg" />
	<img src="/assets/sponsors/p&p.jpg" />
	<img src="/assets/sponsors/plugable.jpg" />
	<img src="/assets/sponsors/public_instruction.png" />
</div>
