---
import Footer from '../components/footer.astro';
import Head from "../components/head.astro";
import Nav from "../components/nav.astro";
---

<html lang="en-us" class="w-full h-full">
	<Head content={Astro.props.content} />

	<body class="w-full min-h-screen bg-primary flex flex-col items-center text-slate-100">
		<Nav content={Astro.props.content} />
		<slot />
		<Footer />

		<script src="../script.js"></script>
	</body>
</html>
