---
import Footer from "@components/Footer.astro";
import Head from "@components/Head.astro";
import Nav from "@components/Nav.astro";
---

<html lang="en-us" class="h-full w-full scroll-smooth">
	<Head content={Astro.props.content} />

	<body
		class="flex min-h-screen w-full flex-col items-center bg-primary text-slate-100 selection:bg-rose-900"
	>
		<Nav content={Astro.props.content} />
		<slot />
		<Footer />

		<script src="../script.ts"></script>
	</body>
</html>
